@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}


:root {
    /* ==== COLORS ==== */
    --spat: #7faec5;
    --lg-bg: #fafafa;
    --green: #4ecd5d;
    --darkblue: #384b61;
}

body{
    background-color: var(--lg-bg);
}

/* ==== NAV ==== */
.nav__container {
    max-width: 100vw;
    padding: 0.5em 2em;
    background-color: var(--lg-bg);
    overflow: hidden;
}

a {
    color: var(--spat);
    text-decoration: none;
}

.nav-link {
    list-style: none;
    margin: 20px 0;
    width: 8rem;
}

.navbar {
    background: #fafafa;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.flex-nav {
    display: flex;
    flex-direction: column;
}


.logo {
    width: 7em;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle {
    border: transparent;
    background: transparent;
    font-size: 1.5rem;
}

.nav-links {
    height: 0;
    overflow: hidden;
}

.nav-open {
    height: 100vh;
}

@media only screen and (min-width: 1024px) {
    .nav-toggle {
        display: none;
    }

    .nav-header {
        display: block;
    }

    .flex-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 3em;
    }

    .nav-links {
        height: auto;
    }

    .logo {
        width: 8em;
    }

    ul {
        text-align: center;
    }

    .nav-link {
        display: inline-block;
        border-bottom: none;
    }

    .nav-links span {
        background: var(--green);
        color: white;
        padding: 8px 15px;
        border-radius: 4px;
    }
}

/* ==== HERO ==== */

.hero {
    background: white;
    background-image: url('/assets/background_hero.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__container {
    align-items: center;
    max-width: 100vw;
    height: 50rem;
    text-align: left;
}

.hero__content {
    padding: 8em 2em;
}

.hero__heading {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.4em;
    color: var(--darkblue);
}

.hero__description {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 0.4em;
    line-height: 1.4em;
    color: var(--spat);
}

.hero__button {
    background-color: var(--green);
    color: white;
    padding: 0.5em 1em;
    border-radius: 4px;
    border: none;
    margin-top: 1em;
}

.hero__button a {
    color: white;
    font-family: 'Poppins';
    font-weight: 400;
}


/* ==== OVER ONS ==== */

.about {
    background-color: var(--lg-bg);
}

.about__container {
    align-items: center;
    max-width: 100vw;
    height: 100vh;
    text-align: left;
}

.about__img img {
    position: absolute;
    width: 300px;
    top: 22.7em;
    right: -0.5em;
    z-index: -1;
}

.about__content {
    padding: 2em 2em;
    position: absolute;
    z-index: 1;
}

.about__content h2 {
    color: var(--spat);
    font-weight: 600;
    margin-bottom: 0.5em;
    font-size: 1.6em;
}

.about__content h3 {
    color: var(--darkblue);
    font-size: 0.8em;
    font-weight: 400;
    margin-bottom: 1em;
}

.about__button {
    background-color: var(--green);
    color: white;
    padding: 0.5em 1em;
    border-radius: 4px;
    border: none;
    margin-top: 0.8em;
}

.about__button a {
    color: white;
}

/* ==== EXPERTISE ==== */
.expertise {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2em 2em;
}

.expertise__title {
    font-size: 1.5rem;
    color: var(--spat);
    font-weight: 600;
    text-align: center;
}

.expertise h3 {
    font-size: 1.3rem;
    color: var(--darkblue);
    font-weight: 600;
    text-align: center;
    padding-bottom: 1em;
}

.expertise__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    padding-top: 2em;
    padding-bottom: 3.5em;
    min-height: 100vh;
}

.expertise__card {
    margin: 0 auto;
    height: 25em;
    width: 18em;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lg-bg);

    color: var(--darkblue);
    transition: 0.3s ease-in;
}

.expertise__card img {
    width: 150px;
    padding-bottom: 2em;
}

.expertise__card:nth-child(2) {
    background-color: var(--lg-bg);
}

.expertise__card:nth-child(3) {
    background-color: var(--lg-bg);
}

/* .expertise__card p {
    text-align: left;
    font-size: 0.8rem;
    padding-left: 3.5em;
    padding-right: 1em;
  }
   */
.expertise__btn {
    display: flex;
    justify-content: center;
    padding: 0 3em;
}

.expertise__card button {
    color: #fff;
    padding: 0.6em 1.2em;
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--green);
    font-size: 0.9rem;
}

.expertise__card button:hover {
    cursor: pointer;
}

.expertise__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

/* ==== KLIMAATADAPTATIE ==== */

.klimaat {
    background-color: var(--lg-bg);
}

.klimaat__container {
    align-items: center;
    max-width: 100vw;
    height: 100vh;
    text-align: left;
}

.klimaat__img img {
    position: absolute;
    width: 300px;
    top: 22.7em;
    right: -0.5em;
    z-index: -1;
}

.klimaat__content {
    padding: 2em 2em;
    position: absolute;
    z-index: 1;
}

.klimaat__content h2 {
    color: var(--spat);
    font-weight: 600;
    margin-bottom: 0.5em;
    font-size: 1.7em;
}

.klimaat__content h3 {
    color: var(--darkblue);
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 1em;
}

.klimaat__content p {
    color: var(--darkblue);
    font-size: 0.9em;
    font-weight: 400;
    margin-bottom: 1em;
}

.klimaat__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;
    background-color: var(--green);
    color: white;
    padding: 0.5em 1em;
    border-radius: 4px;
    border: none;
}

.klimaat__button a {
    color: white;
}

/* ==== WATERKWALITEIT ==== */

.krw {
    background-color: white;
}

.krw__container {
    align-items: center;
    max-width: 100vw;
    height: 100vh;
    text-align: left;
}

.krw__img img {
    position: absolute;
    width: 300px;
    top: 22.7em;
    right: -0.5em;
    z-index: -1;
}

.krw__content {
    padding: 2em 2em;
    position: absolute;
    z-index: 1;
}

.krw__content h2 {
    color: var(--spat);
    font-weight: 600;
    margin-bottom: 0.5em;
    font-size: 1.6em;
}

.krw__content h3 {
    color: var(--darkblue);
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 1em;
}

.krw__content p {
    color: var(--darkblue);
    font-size: 0.75em;
    font-weight: 400;
    margin-bottom: 1em;
}

.krw__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;
    background-color: var(--green);
    color: white;
    padding: 0.5em 1em;
    border-radius: 4px;
    border: none;
}

.krw__button a {
    color: white;
}

/* ==== PROJECTEN ==== */

.section {
    padding: 2rem 0 2rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.projects{
    width: 100vw;
    margin: 0 auto;
}
.bd-container {
    max-width: 100vw;
    width: calc(100% - 2rem);

}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

p{
    font-size: 0.7em;
    margin-bottom: 1.2em;

}

.projects__nav {
    text-align: center;
    margin-bottom: 1.5em;
}

.projects__item {
    margin: 0 0.5rem;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 500;
    color: var(--darkblue);
}

.projects__text h2 {
    color: var(--spat);
    text-align: center;
    font-weight: 600;
    padding: 0.5em 0 0.8em 0;
}

.projects__content {
    background-color: white;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
    margin-bottom: 1.5rem;
}

.projects__title {
    font-size: 1em;
    color: var(--darkblue);
    text-align: left;
    font-weight: 600;
    margin: 0.3em 0em 0.6em; 
}

.projects__img {
    width: 100%;
    transition: .4s;
}

.projects__data{
    padding: 1em 1em;
}

.button {
    display: inline-block;
    background-color: var(--green);
    color: white;
    font-size: 0.8em;
    padding: 0.4rem 1rem;
    border-radius: .25rem;
    border: none;
}

.projects__content:hover{
    box-shadow: 0 6px 8px rgba(174, 190, 205, .4);
}

.projects__content:hover .projects_img{
    transform: scale(1.02);
}

.active-projects{
    font-weight: 600;
    border-bottom: 2px solid var(--green);
    padding-bottom: 5px;
}

/* ==== TEAM ==== */

/* .projects{
    background-color: var(--lg-bg);
}

.projects__container{
    align-items: center;
    max-width: 100vw;
    height: 100vh;
    text-align: left;
}

.projects__img img{
    position: absolute;
    width: 300px;
    top: 22.7em;
    right: -0.5em;
    z-index: -1;
}

.projects__content{
    padding: 2em 2em;
    position: absolute;
    z-index: 1;
}

.projects__content h2{
    color: var(--spat);
    font-weight: 600;
    margin-bottom: 0.5em;
    font-size: 1.6em;
}

.projects__content h3{
    color: var(--darkblue);
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 1em;
}

.projects__content p{
    color: var(--darkblue);
    font-size: 0.75em;
    font-weight: 400;
    margin-bottom: 1em;
}

.projects__button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;
    background-color: var(--green);
    color: white;
    padding: 0.5em 1em;
    border-radius: 4px;
    border: none;
}

.projects__button a{
    color: white;
} */